body {
  background-color: #142850;
}

.rotate3 {
  animation: rotation 9s infinite alternate;
}

@keyframes rotation {
  0% {
    transform: rotate(30deg) translateY(0);
  }
  3% {
    transform: rotate(45deg) translateY(3);
  }
  5% {
    transform: rotate(80deg) translateY(-5px);
  }
  15% {
    transform: rotate(110deg) translateY(5px);
  }
  25% {
    transform: rotate(240deg) translateY(-5px);
  }
  45% {
    transform: rotate(260deg) translateY(5px);
  }
  67% {
    transform: rotate(290deg) translateY(-10px);
  }
  77% {
    transform: rotate(300deg) translateY(3px);
  }
  87% {
    transform: rotate(320deg) translateY(-5px);
  }
  100% {
    transform: rotate(380deg) translateY(5px);
  }
}

.shadowImpulse {
  margin: inherit;
}
